.app {
  margin: 4%;
  display: grid;
  grid-template-areas: 'c b'
    'd b';
  grid-template-columns: 25% auto;
  grid-template-rows: 10% auto;
  font-family: sans-serif;
  height: 600px;
  border-top: 1px solid grey;
}

.profile {
  grid-area: a;
  border: 1px solid grey;
  border-top: 0px;
  border-right: 0px;
}

.controls {
  grid-area: c;
  border: 1px solid grey;
  border-top: 0px;
  border-right: 0px;
}

.chat {
  grid-area: b;
  border: 1px solid grey;
  border-top: 0px;
}

.contacts {
  grid-area: d;
  border: 1px solid grey;
  border-right: 0px;
  border-top: 0;
}
