.menu {
    position: absolute;
    left: 100px;
    top: 53px;
    height: 599px;
    width: 267px;
    border: 1px solid grey;
}

.menu_profile {
    background-color: aqua;
    height: 150px;
}

.menu_profile_avatar {
    cursor: pointer;
    margin: 20px;
    width: 50px;
    height: 50px;
}

.menu span,
.menu_profile > * {
    margin-left: 20px;
}

img {
    cursor: pointer;
    display: inline;
}

.menu span {
    display: block;
    margin-top: 17px;
}

.menu_footer {
    margin-top: 100px;
}

.menu > div {
    cursor: pointer;
}